##**Assignment 1- Pattern Programming**

#####Referral Id-SIRSS2223
#####Name-Aishwarya Rajesh Rule
#####College-Shah and Anchor Kutchhi Engineering College

**(1)**

In [28]:
n=5
for i in range(n,0,-1):
  for j in range(0,i):
    print(5,end=" ")
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

**(2)**

In [29]:
n=6
for i in range(n,1,-1):
  for j in range(0,i):
    print(j,end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

**(3)**

In [30]:
n=5
k=1
for i in range(1,n+1):
  for j in range(0,i):
    print(k,end=" ")
  k=k+2
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

**(4)**

In [31]:
n=5
for i in range(1,n+1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

**(5)**

In [32]:
n=4
start_row=0
for i in range(1,n+1):
  start_row=i+start_row
  val=start_row
  for j in range(0,i):
    print(val,end=" ")
    val=val-1
  
  
  print()

1
3 2
6 5 4
10 9 8 7

**(6)**

In [33]:
def fact(num):
  if num==0:
    return 1
  else:
    return (num*fact(num-1))

n=6
for i in range(0,n):
  for j in range(0,i+1):
    val=int(fact(i) / (fact(j) * fact(i-j)))
    print(val,end=" ")
  print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

**(7)**

In [34]:
n=5
for i in range(1,n+1):
  for j in range(1,6):
    val=i if(i>j) else j
    print(val,end=" ")
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

**(8)**

In [35]:
n=8
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i*j,end=" ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

**(9)**

In [36]:
n=6
sp=0
for i in range(n,0,-1):
  for k in range(0,sp):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  sp=sp+1
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

**(10)**

In [37]:
n=7
sp=7
for i in range(1,n+1):
  for k in range(0,sp):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  sp=sp-1
  print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

**(11)**

In [38]:
n=6
for i in range(1,n+1):
  for j in range(0,i):
    print("*",end=" ")
  print()
print()
for i in range(n,0,-1):
  for j in range(0,i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

**(12)**

In [39]:
n=5
for i in range(1,n+1):
  for j in range(0,i):
    print("*",end=" ")
  print()
for l in range(n-1,0,-1):
  for j in range(0,l):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**(13)**

In [40]:
n=5
sp=5
for i in range(1,n+1):
  for k in range(1,sp):
    print(" ",end=" ")
  for j in range(0,i):
    print("*",end=" ")
  print()
  sp=sp-1
sp=1
for i in range(n-1,0,-1):
  for k in range(0,sp):
    print(" ",end=" ")
  for j in range(0,i):
    print("*",end=" ")
  print()
  sp=sp+1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

**(14)**

In [41]:
n=5
sp=0
for i in range(n,0,-1):
  for k in range(0,sp):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  print()
  sp=sp+1
sp=4
for i in range(1,n+1):
  for k in range(0,sp):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  print()
  sp=sp-1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

**(15)**

In [42]:
n=8
sp=8
for i in range(0,n):
  for k in range(0,sp):
    print("*",end="")
  for i in range(0,i):
    print("--",end="")
  for k in range(0,sp):
    print("*",end="")
  sp=sp-1
  print()

****************
*******--*******
******----******
*****------*****
****--------****
***----------***
**------------**
*--------------*